In [1]:
print(" Hello \
world" )

 Hello world

In [2]:
print ("Hello World")

Hello World

In [3]:
print ("python world")

python world

In [4]:
print ("""" hello every one""")

" hello every one

In [5]:
print("""♪ღ♪*•.¸¸.•*¨¨*•.♪ღ♪*•.¸¸.•*¨¨*•.♪ღ♪
░H░A░P░P░Y░♪░B░I░R░T░H░D░A░Y░
♪ღ♪*•.¸¸.•*¨¨*•.♪ღ♪*•.¸¸.•*¨¨*•.♪ღ♪""")

♪ღ♪*•.¸¸.•*¨¨*•.♪ღ♪*•.¸¸.•*¨¨*•.♪ღ♪
░H░A░P░P░Y░♪░B░I░R░T░H░D░A░Y░
♪ღ♪*•.¸¸.•*¨¨*•.♪ღ♪*•.¸¸.•*¨¨*•.♪ღ♪

In [6]:
print("python's world")

python's world

 STRING INSIDE THE QUOTE

In [7]:
print("hello\tpython")

hello	python

In [8]:
print('python\'s world')

python's world

In [9]:
print("hello\apython")

hellopython

FORMATTED OUTPUT

In [10]:
name="rithik balaram"
marks="83.78"
age="20"
print("The name of person is ", name, "mark is ", marks, "age is", age)

The name of person is  rithik balaram mark is  83.78 age is 20

In [11]:
print("The name of the person is %s marks is %f age is %d"% (name,marks,age))

TypeError: must be real number, not str

In [12]:
print("The name of person is %s marks is %f age is %d"% (name,marks,age))

TypeError: must be real number, not str

In [16]:
name = "rithik balaram"
marks = 83.78
age = 20
print("the name of person is %s marks is %f age is %d"%(name,marks,age))

the name of person is rithik balaram marks is 83.780000 age is 20

variable

In [17]:
a = 10

In [18]:
b = 20

In [19]:
a

10

In [20]:
b

20

In [21]:
id(a)

140711025025712

In [22]:
id(b)

140711025026032

In [23]:
a=b=20

In [24]:
id(b)

140711025026032

In [25]:
id(a)

140711025026032

ASSIGMENT OPPERATOR

In [26]:
5**5

3125

In [27]:
10+20

30

In [28]:
10/2

5.0

In [29]:
10-20

-10

In [30]:
10%3

1

In [31]:
10//3

3

In [32]:
a = 10
b = 20
a == b

False

In [34]:
c = 10
a == c

True

In [35]:
c <=  a

True

In [36]:
a >= b

False

In [37]:
a!=b

True

In [38]:
strl = "pythonprogramming"
"x" not in strl

True

In [39]:
a = 10
b = 10
a == b

True

In [40]:
a is b

True

In [41]:
id(a)

140711025025712

In [42]:
id(b)

140711025025712

In [43]:
x = 1.5
y = 1.5
x == y

True

In [44]:
x is y

False

In [45]:
id (x)

1912285927440

In [46]:
id(y)

1912285927504

In [47]:
a = 257
b =257
a ==b

True

In [48]:
a is b

False